{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Услуги{% endblock %}

{% block body %}
    <!--================Home Banner Area =================-->
    <section class="preview_area">
        <div class="preview_inner d-flex align-items-center">
            <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0"
                 data-background=""></div>
            <div class="container">
                <div class="preview_content">
                    <div class="page_link">
                        <a href="{{ path("index") }}">Главная</a>
                        <a href="{{ path("services") }}">Услуги</a>
                    </div>
                    <h2>Наши услуги</h2>
                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->

    <section class="p-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <pre>Данная страница находится в разработке</pre>
                    {{ form_start(form_order2, {'attr': {'action': path("order")}}) }}
                    {{ form_end(form_order2) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
