{% extends 'base.html.twig' %}

{% block meta_keywords %}стоимость аренды, заказ транспорта, заказ автобуса дзержиск, аренда паз, аренда лиаз, арена почасовая автобус, заказать онлайн, перевозки, автобус на свадьбу, арендовать{% endblock %}

{% block title %}{{ parent() }} - Услуги{% endblock %}

{% block body %}
    <!--================Home Banner Area =================-->
    <section class="preview_area">
        <div class="preview_inner d-flex align-items-center">
            <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0"
                 data-background=""></div>
            <div class="container">
                <div class="preview_content">
                    <div class="page_link">
                        <a href="{{ path("index") }}">Главная</a>
                        <a href="{{ path("services") }}">Услуги</a>
                    </div>
                    <h2>Наши услуги</h2>
                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->

    <section class="pt-5" style="font-size: 19px">
        <div class="container">
            <p>
                <b>МУМ "Экспресс"</b> - предприятие, предоставляющее услуги населению по пассажирским перевозкам
                электротранспортом и автомобильным транспортом. Транспортная компания “МУП Экспресс” предоставляет
                транспортное обслуживание предприятий, частных и юридических лиц, оказывая услуги аренды автобусов в
                городе
                Дзержинск. Эта услуга пользуется неизменно высоким спросом и у жителей города, и у гостей, которые
                заинтересованы в качественном обслуживании.
            </p>
            <p>
                На счету транспортного предприятия «Экспресс» много тысяч довольных пассажиров, с комфортом доставленных
                в место назначения на автобусах. Мы уделяем большое внимание качеству обслуживания, комфорту и
                безопасности. А собственный обширный автопарк позволит решить любые задачи бизнеса и личных вопросов
                наших клиентов, многие из которых, обратившись к нам однажды, приходят снова.
            </p>


            <h6 style="font-size: 19px">
                Наши услуги по пассажироперевозкам:
            </h6>
            <ul class="unordered-list">
                <li>Торжественные мероприятия</li>
                <li>Перевозка детей</li>
                <li>Доставка сотрудников</li>
                <li>Перевозка туристов и спортсменов</li>
                <li>Траурная церемония</li>
            </ul>
        </div>
    </section>

    <!--================Section Calc Area ====================-->
    {% include "modules/section.calc.html.twig" %}
    <!--================End Section Calc Area ================-->

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset("js/calc.js") }}"></script>
{% endblock %}
