{% extends 'base.html.twig' %}

{% block meta_keywords %}расписание автобусов, маршрут автобуса, какой автобус, маршрут автобуса №1, дзержинск, маршрут с остановками,онлайн маршрут, троллейбус, транспорт, маршрут автобуса 33{% endblock %}

{% block title %}{{ parent() }} - Маршруты{% endblock %}

{% block body %}
    <!--================Home Banner Area =================-->
    <section class="preview_area">
        <div class="preview_inner d-flex align-items-center">
            <div class="overlay bg-parallax" data-stellarb-ratio="0.9" data-stellar-vertical-offset="0"
                 data-background=""></div>
            <div class="container">
                <div class="preview_content">
                    <div class="page_link">
                        <a href="{{ path("index") }}">Главная</a>
                        <a href="{{ path("routes") }}">Маршруты</a>
                    </div>
                    <h2>Маршруты автобусов</h2>
                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->

    <div class="container pt-5 pb-5">
        <div class="row">
            <div class="col-md">
                <div class="card mb-5">
                    <div class="card-body"><h3 class="card-title text-dark">Маршрут автобуса №1</h3>
                        <p class="card-text text-dark" style="font-size: 1rem">
                            АО "Канат" - Туберкулёзный диспансер - Школа №20 - улица Попопа №34 - улица Попова №36
                            - Набережная - Улица Черняховского - Улица Клюквина - Октябрьская улица - Общество слепых
                            - Кукольный переуолок - Рынок - Вокзал - Улица Урицкого - ДКХ - Школа №39 - Дом Книги
                            - Торговый центр - НБД-Банк - Универсам - Поликлиника №2 - Пенсионный фонд - Улица Удриса
                            - Бульвар Химиков - 8-й микрорайон - Госпиталь ветеранов войн - Проспект Циолковского
                            - Микрорайон Западный-1
                        </p>
{#                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>#}
                    </div>
                    <img src="{{ asset('img/routes/route1.png') }}" class="card-img-top" alt="Маршрут автобуса №1">
                </div>
                <div class="card mb-5">
                    <div class="card-body"><h3 class="card-title text-dark">Маршрут автобуса №3</h3>
                        <p class="card-text text-dark" style="font-size: 1rem">
                            Микрорайон Западный-1 - Проспект Циолковского - Госпиталь ветеранов войны - 8-й микрорайон
                            - Бульвар Химиков - Улица Удриса - Пенсионный фонд - Поликлиника №2 - Универсам - НБД Банк
                            - Торговый центр - Дом Книги - ДКХ - Площать Дзержинского - Улица Клюквина - Улица Черняховского
                            - Студенческая улица - Трамвайный парк - Деловой центр - Платформа Калинская - Корунд
                        </p>
                    </div>
                    <img src="{{ asset('img/routes/route3.png') }}" class="card-img-top" alt="Маршрут автобуса №3">
                </div>
                <div class="card mb-5">
                    <div class="card-body"><h3 class="card-title text-dark">Маршрут автобуса №8</h3>
                        <p class="card-text text-dark" style="font-size: 1rem">
                            Вокзал - Мукомольный завод - Городской рынок - Кукольный переулок - Общество слепых - Октябрьская улица
                            - Улица Клюквина - Улица Черняхоского - Набережная - улица Попова №34 - Школа №20
                            - Туберкулёзный диспансер - АО "Канат" - Улица Фрунзе №16 - Улица Фрунзе №60
                            - Магазин - Улица Кутузова №74 - Озеро "Святое" - Больница №4 - 8-й микрорайон
                            - Бульвар Химиков - Улица Удриса - Пенсионный фонд - Поликлиника №2 - Универсам - НБД Банк
                            - Торговый центр - Дом Книги - ДКХ - Улица Урицкого - Вокзал
                        </p>
                    </div>
                    <img src="{{ asset('img/routes/route8.png') }}" class="card-img-top" alt="Маршрут автобуса №8">
                </div>
                <div class="card mb-5">
                    <div class="card-body"><h3 class="card-title text-dark">Маршрут автобуса №15</h3>
                        <p class="card-text text-dark" style="font-size: 1rem">
                            Завод имени Свердлова - Ленинградская улица - Баня - Магазин "Свердловец" - Улица Патоличева
                            - Бульвар Космонавтов - Больница №4 - Санаторий "Светлано" - Санаторий "Пушкино" - Сады - Красная улица
                            - Церковь - Желнинская поселоковая администрация - Магазин
                        </p>
                    </div>
                    <img src="{{ asset('img/routes/route15.png') }}" class="card-img-top" alt="Маршрут автобуса №15">
                </div>
                <div class="card mb-5">
                    <div class="card-body"><h3 class="card-title text-dark">Маршрут автобуса №22</h3>
                        <p class="card-text text-dark" style="font-size: 1rem">
                            Северные Ворота - Школа №3 - Молодежная - Прокуротура - Площать Макарова - Больница №8
                            - Проспект Ленина - Больница №2 - Политехнический Институт - Ресурсный центр
                            - Улица Самохвалова - Свято-Тихоновский Проезд - ТЦ "Сити" - 10-й миркорайон
                            - Стадион "Капролактамовец" - ул. Строителей - Бульвар Космонавтов - 8-й микрорайон
                            - Бульвар Химиков - Улица Удриса - Пенсионный фонд - Поликлинника №2 - Универсам - НБД Банк
                            - Торговый центр - Дом Книги - ДКХ - Улица Урицкого - Вокзал - Мукомольный завод - Рынок
                            - Кукольный переуолок - Общество слепых - Октябрьская улица - Улица Клюквина - Поликлиника №1
                            - БСМП - Ул. Матросова - Ул. Пирогова - Северные Ворота
                        </p>
                    </div>
                    <img src="{{ asset('img/routes/route22.png') }}" class="card-img-top" alt="Маршрут автобуса №22">
                </div>
                <div class="card mb-5">
                    <div class="card-body"><h3 class="card-title text-dark">Маршрут автобуса №23</h3>
                        <p class="card-text text-dark" style="font-size: 1rem">
                            Северные Ворота - ул.Пирогова (ул. Новомосковская) - ул.Матросова - БСМП - Поликлиника №1
                            - Улица Клюквина - Октябрьская улица - Общество слепых - Кукольный переулок - Рынок
                            - Вокзал - Улица Урицкого - ДКХ - Школа №39 - Дом Книги - Торговый центр
                            - НБД-Банк - Универсам - Поликлиника №2 - Пенсионный фонд - Улица Удриса
                            - Бульвар Химиков - 8-й микрорайон - Бульвар Космонавтов - ул.Строителей
                            - Стадион "Капролактамовец" - 10-й микрорайон - ТЦ "Скала" - Свято-Тихоновский проезд
                            - улица Самохвалова - Ресурсный Центр - Политехнический институт - Больница № 2
                            - улица Гайдара (проспект Ленина) - Больница № 8 - площадь Макарова - Прокуратура
                            - Молодёжная - Школа №3 - Северные Ворота
                        </p>
                    </div>
                    <img src="{{ asset('img/routes/route23.png') }}" class="card-img-top" alt="Маршрут автобуса №23">
                </div>
                <div class="card mb-5">
                    <div class="card-body"><h3 class="card-title text-dark">Маршрут автобуса №33</h3>
                        <p class="card-text text-dark" style="font-size: 1rem">
                            Вокзал - Улица Урицкого - ДКХ - Школа №39 - Дом Книги - Торговый центр
                            - НБД-Банк - Универсам - Поликлиника №2 - Пенсионный фонд - Улица Удриса
                            - Бульвар Химиков - 8-й микрорайон - Бульвар Космонавтов - улица Патоличева
                            - Сады - Магазин "Свердловец" - Баня - Ленинградская улица - Завод имени Свердлова
                        </p>
                    </div>
                    <img src="{{ asset('img/routes/route33.png') }}" class="card-img-top" alt="Маршрут автобуса №33">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
