{% for message in app.flashes('form.feedback.success') %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endfor %}
{{ form_start(form_feedback, {'attr': {'class': 'row contact-form'}}) }}
    {{ form_errors(form_feedback) }}
    <div class="col-md-5 col-sm-12">
        <div class="form-group">
            {{ form_widget(form_feedback.nameclient, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form_feedback.nameclient) }}
        </div>
        <div class="form-group">
            {{ form_widget(form_feedback.mail, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form_feedback.mail) }}
        </div>
        <div class="form-group">
            {{ form_widget(form_feedback.title, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form_feedback.title) }}
        </div>
    </div>
    <div class="col-md-7 col-sm-12">
        <div class="form-group">
            {{ form_widget(form_feedback.content, {'attr': {'class': 'form-control', 'style': 'min-height: 150px'}}) }}
            {{ form_errors(form_feedback.content) }}
        </div>
    </div>
    <div class="col-md-7">
        <div class="custom-control custom-checkbox text-justify">
            {{ form_widget(form_feedback.is_confidentiality, {'attr': {'class': 'custom-control-input mb-2 text-secondary'}}) }}
            <label class="custom-control-label mb-0 d-inline" for="{{ form_feedback.is_confidentiality.vars.id }}">Я даю согласие на обработку моих персональных данных в соответствии с Федеральным законом
                от 27.07.2006 года №152-Ф3 "О персональных данных" на условиях и для целей, определенных в Согласии
                на </label>
            <a class="d-inline" href="{{ path('user_agreement') }}" title="">обработку персональных данных.</a>
            {{ form_errors(form_feedback.is_confidentiality) }}

        </div>
    </div>
    <div class="col-md-5">
        <div class="text-right mt-3 mt-md-0">
            <button type="submit" value="submit" class="btn submit_btn" title="Отправть сообщение">Отправить сообщение</button>
        </div>
    </div>
{{ form_end(form_feedback) }}
