<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
        data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item">
            <a href="{{ path('index_admin') }}" class="nav-link {{ is_admin_index ?? '' }}">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>Начальная страница</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{{ path('admin_feedback') }}" class="nav-link {{ is_admin_feedback ?? '' }}">
                <i class="nav-icon fas fa-envelope-open-text"></i>
                <p>Обратная связь</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{{ path('admin_order') }}" class="nav-link {{ is_admin_order ?? '' }}">
                <i class="nav-icon fas fa-award"></i>
                <p>Заказы</p>
            </a>
        </li>
    </ul>
</nav>
